# Exclude the .htaccess file
.htaccess

# Exclude any PSD/AI source
* .psd
* .ai

# Exclude the build products
build/*
*.[oa]

# Exclude OS X Folder Attributes
.DS_Store

# Exclude the Text Files
*.txt
# read me
!README.text

# Exclude Log Files
*.log

# Exclude Fonts
_fonts/


